{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>星之贝-注册</title>
    {% include 'base_css_js.html' %}
    {% block js %}
	    <script type="text/javascript" src="{% static 'js/register.js' %}"></script>
    {% endblock %}
</head>
<body>
	<div class="register_con">
		<div class="l_con fl">
			<a href="{% url 'goods:index' %}" class="reg_logo"><img src="{% static 'images/logo/logo.png' %}" width="159" height="50"></a>
			<div class="reg_slogan">足不出户  ·  蹦跶每一天</div>
			<div class="reg_banner"></div>
		</div>

		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>用户注册</h1>
				<a href="{% url 'user:login' %}">登录</a>
			</div>
			<div class="reg_form clearfix">
				<form action="{% url 'user:register' %}" method="post">
				<ul>
					<li>
						<label for="user_name">姓名:</label>
						<input type="text" name="user_name" id="user_name" placeholder="请输入您的姓名">
						<span class="error_tip">{{ error_msg }}</span>

					</li>
                    <li>
						<label for="user_sno">学号:</label>
						<input type="text" name="user_sno" id="user_sno" placeholder="请输入您的真实学号">
						<span class="error_tip">提示信息</span>
                        <span style="float:left;height:30px;line-height:30px;margin-left:70px;color:#e62e2e;" id="error_msg">{{ error_msg.user_sno }}</span>

					</li>
					<li>
						<label for="pwd">密码:</label>
						<input type="password" name="pwd" id="pwd">
						<span class="error_tip">提示信息</span>
					</li>
					<li>
						<label for="cpwd">确认密码:</label>
						<input type="password" name="cpwd" id="cpwd">
						<span class="error_tip">提示信息</span>
                        <span style="float:left;height:30px;line-height:30px;margin-left:70px;color:#e62e2e;" id="error_msg">{{ error_msg.user_pwd }}</span>
					</li>
					<li>
						<label for="email">邮箱:</label>
						<input type="text" name="email" id="email">
						<span class="error_tip">{{ error_msg.user_mail }}</span>
						<span style="float:left;height:30px;line-height:30px;margin-left:70px;color:#e62e2e;" id="error_msg">{{ error_msg.user_mail }}</span>
					</li>
					<li class="agreement">
						<input type="checkbox" name="allow" id="allow" checked="checked" >
						<label for="allow">同意<a href="#" style="text-decoration:underline;" onclick="note()">《星之贝用户使用协议》</a></label>
						<span class="error_tip2">提示信息</span>
					</li>
					<li class="reg_sub">
						<input type="submit" value="注 册" name="">
					</li>
				</ul>
                {% csrf_token %}
				</form>
			</div>

		</div>

	</div>

	{% include 'base_foot.html' %}

    <script>
        function note() {
            message = "首先欢迎各位使用星之贝校园二手交易平台，" +
                "本平台由银川能源学院在校学生星之羽团队设计,编程完成。\n" +
                "我们承诺不收取任何手续费用,免费使用\n" +
                "目前处于开发阶段,由于是第一次我们自己写所有代码完成,功能刚开始可能不全,后期我们会逐步加入." +
                "在1.0版本之前是测试版本,可能会影响到用户账户信息,还请大家包涵.\n" +
                "想加入我们+qq705301804:";

        alert(message);
        }

    </script>
</body>
</html>