{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/boot.css' %}">
{% endblock %}

{% block body %}
    <div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'user:user_center_info' %}" class="active" >· 个人信息</a></li>
				<li><a href="{% url 'user:user_center_order' %}">· 全部订单</a></li>
				<li><a href="{% url 'user:user_center_site' %}">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
{#                        编辑按钮,弹框#}
                        <div class="ed" style="float: right; margin: 50px 10px 0 0 ">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
						修改信息
					</button>

					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">编辑地址</h4>
								</div>
								<div class="modal-body">
									<form class="form-horizontal">

                                        <div class="form-group">
											<label for="adr" class="col-sm-2 control-label">学院</label>
											<div class="col-sm-10">
												<select  class="form-control-1" id="adr" style="float: left" name="user_colloge_id">
                                                    {% for college in all_colleges %}
													    <option value = "{{ college.id }}" name="user_colloge_id" selected="selected">{{ college.college_name }}</option>
                                                    {% endfor %}

												</select>
											</div>
										</div>


										<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">姓名</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" id="user_name" placeholder="姓名" name="user_name">
											</div>
										</div>
										<div class="form-group">
											<label for="inputPassword3" class="col-sm-2 control-label">手机号</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" id="user_mobile" placeholder="手机号" name="user_mobile">
											</div>
										</div>
										<div class="form-group">
											<label for="adr" class="col-sm-2 control-label">联系地址</label>
											<div class="col-sm-10">
												<select  class="form-control-1" id="adr" style="float: left">
													<option value = "银川能源学院" selected="selected">银川能源学院</option>
													<option value = "学院">学院</option>
												</select>
												<select class="form-control-1"  id="adr" style="float: left ">
													<option value = "None" selected="selected">楼号</option>
													<option value = "1">1号楼</option>
													<option value = "2">2号楼</option>
													<option value = "3">3号楼</option>
													<option value = "4">4号楼</option>
													<option value = "5">5号楼</option>
													<option value = "6">6号楼</option>
													<option value = "7">7号楼</option>
													<option value = "8">8号楼</option>
													<option value = "9">9号楼</option>
													<option value = "10">10号楼</option>
													<option value = "11">11号楼</option>
													<option value = "...">12号楼</option>
													<option value = "...">13号楼</option>
													<option value = "...">14号楼</option>
													<option value = "...">15号楼</option>
													<option value = "...">16号楼</option>
													<option value = "...">17号楼</option>
													<option value = "...">18号楼</option>
													<option value = "...">19号楼</option>
													<option value = "...">20号楼</option>
													<option value = "...">21号楼</option>
													<option value = "...">22号楼</option>
													<option value = "...">23号楼</option>
													<option value = "...">24号楼</option>
													<option value = "...">25号楼</option>
													<option value = "...">26号楼</option>
												</select>
												<select class="form-control-1" id="adr" style="float: left ">
													<option value = "None" selected="selected">宿舍号</option>
													<option value = "101">101</option>
													<option value = "102">102</option>
													<option value = "...">103</option>
													<option value = "...">104</option>
													<option value = "...">105</option>
													<option value = "...">106</option>
													<option value = "...">107</option>
													<option value = "...">108</option>
													<option value = "...">109</option>
													<option value = "...">110</option>
													<option value = "...">111</option>
													<option value = "...">112</option>
													<option value = "...">123</option>
													<option value = "...">114</option>
													<option value = "...">115</option>
													<option value = "...">116</option>
													<option value = "...">117</option>
													<option value = "...">118</option>
													<option value = "...">119</option>
													<option value = "...">120</option>
													<option value = "...">121</option>
													<option value = "...">122</option>
													<option value = "...">123</option>
													<option value = "...">124</option>
													<option value = "...">125</option>
													<option value = "...">126</option>
													<option value = "...">127</option>
													<option value = "...">128</option>
													<option value = "...">201</option>
													<option value = "...">202</option>
													<option value = "...">203</option>
													<option value = "...">204</option>
													<option value = "...">205</option>
													<option value = "...">206</option>
													<option value = "...">207</option>
													<option value = "...">208</option>
													<option value = "...">209</option>
													<option value = "...">210</option>
													<option value = "...">211</option>
													<option value = "...">212</option>
													<option value = "...">223</option>
													<option value = "...">214</option>
													<option value = "...">215</option>
													<option value = "...">216</option>
													<option value = "...">217</option>
													<option value = "...">218</option>
													<option value = "...">219</option>
													<option value = "...">220</option>
													<option value = "...">221</option>
													<option value = "...">222</option>
													<option value = "...">223</option>
													<option value = "...">224</option>
													<option value = "...">225</option>
													<option value = "...">226</option>
													<option value = "...">227</option>
													<option value = "...">228</option>
													<option value = "...">301</option>
													<option value = "...">302</option>
													<option value = "...">303</option>
													<option value = "...">304</option>
													<option value = "...">305</option>
													<option value = "...">306</option>
													<option value = "...">307</option>
													<option value = "...">308</option>
													<option value = "...">309</option>
													<option value = "...">310</option>
													<option value = "...">311</option>
													<option value = "...">312</option>
													<option value = "...">323</option>
													<option value = "...">314</option>
													<option value = "...">315</option>
													<option value = "...">316</option>
													<option value = "...">317</option>
													<option value = "...">318</option>
													<option value = "...">319</option>
													<option value = "...">320</option>
													<option value = "...">321</option>
													<option value = "...">322</option>
													<option value = "...">323</option>
													<option value = "...">324</option>
													<option value = "...">325</option>
													<option value = "...">326</option>
													<option value = "...">327</option>
													<option value = "...">328</option>
												</select>
											</div>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button type="button" class="btn btn-primary" id="save">保存</button>
								</div>
							</div>
						</div>
					</div>

				</div>

						<ul class="user_info_list">
                            <li><span>学院：</span>{{ user_colege }}</li>
							<li><span>学号：</span>{{ user_sno }}</li>
							<li><span>姓名：</span>{{ user_name }}</li>
							<li><span>联系方式：</span>{{ user_mobile }}</li>
							<li><span>联系地址：</span>{{ user_address }}</li>
						</ul>
				</div>

				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					<ul class="goods_type_list clearfix">
				<li>
					<a href="detail.html"><img src="{% static 'images/goods/goods003.jpg' %}"></a>
					<h4><a href="detail.html">大兴大棚草莓</a></h4>
					<div class="operate">
						<span class="prize">￥16.80</span>
						<span class="unit">16.80/500g</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="{% static 'images/goods/goods004.jpg' %}"></a>
					<h4><a href="#">吐鲁番梨光杏</a></h4>
					<div class="operate">
						<span class="prize">￥5.50</span>
						<span class="unit">5.50/500g</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="{% static 'images/goods/goods005.jpg' %}"></a>
					<h4><a href="#">黄肉桃</a></h4>
					<div class="operate">
						<span class="prize">￥10.00</span>
						<span class="unit">10.00/500g</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="{% static 'images/goods/goods005.jpg' %}"></a>
					<h4><a href="#">进口西梅</a></h4>
					<div class="operate">
						<span class="prize">￥28.80</span>
						<span class="unit">28.8/500g</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="{% static 'images/goods/goods007.jpg' %}"></a>
					<h4><a href="#">香梨</a></h4>
					<div class="operate">
						<span class="prize">￥6.45</span>
						<span class="unit">6.45/500g</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
			</ul>
		</div>
		</div>
</div>
    {% block js %}
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        {#编辑信息提交#}
        <script>
            $("#save").click(function () {
                var user_colloge_id = $("select[name='user_colloge_id']").val();

                var user_id = {{ request.session.user_id }};
                var user_name = $('#user_name').val();
                var user_mobile = $('#user_mobile').val();


                $.ajax({
                url: "{% url 'user:user_center_info' %}",
                type: "post",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}' ,
                    {#用户信息#}
                    'user_colloge_id': user_colloge_id,
                    'user_id': user_id,
                    'user_name': user_name,
                    'user_mobile': user_mobile
                },
                success: function (date) {
                    alert('提交成功');
                    window.location.reload();
                }

            })
            })
        </script>


    {% endblock %}
{% endblock %}