	{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}
    商品列表
{% endblock %}

{% block body %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
                    <li><a href="#" class="fruit">服装配饰</a></li>
                    <li><a href="#" class="seafood">数码科技</a></li>
                    <li><a href="#" class="meet">运动代步</a></li>
                    <li><a href="#" class="egg">书籍文具</a></li>
                    <li><a href="#" class="vegetables">公益服务</a></li>
                    <li><a href="#" class="ice">其他</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="{% url 'goods:index' %}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">商城</a></li>
				<li class="interval">|</li>
				<li><a href="">求购商城</a></li>
                <li class="interval">|</li>
				<li><a href="" style="text-decoration:line-through;" onclick="alert('暂未开发完成,敬请期待')">公益活动</a></li>
                <li class="interval">|</li>
				<li><a href="">关于我们</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">最新物品</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>

						<a href="#"><img src={% static 'images/goods/1.jpg' %}></a>
						<h4><a href="#">天然草莓晶手链女韩版双层石榴石简约学生个性森系闺蜜清新礼物女</a></h4>
						<div class="prize">￥3.90</div>
						<div class="operate">
							<a href="cart.html" class="add_goods" title="加入购物车"></a>
							</div>
					</li>
					<li>

					<a href="#"><img src={% static 'images/goods/2.jpg' %}></a>
					<h4><a href="#">蛋糕连衣裙</a></h4>
					<div class="prize">¥ 30.00</div>
					<div class="operate">
							<a href="cart.html" class="add_goods" title="加入购物车"></a>
							</div>
				</li>
					<li>

						<a href="#"><img src={% static 'images/goods/3.jpg' %}></a>
						<h4><a href="#">电动榨汁杯</a></h4>
						<div class="prize">￥16.80</div>
						<div class="operate">
							<a href="cart.html" class="add_goods" title="加入购物车"></a>
							</div>

					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="#" class="active">默认</a>
				<a href="#">价格</a>
				<a href="#">人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				<li>
					<a href="detail.html"><img src={% static 'images/goods/4.jpg' %}></a>
					<h4><a href="detail.html">旅行包</a></h4>
					<div class="operate">
						<span class="prize">￥16.80</span>
						<span class="unit">原价：50</span>
						<a href="cart.html" class="add_goods" title="加入购物车"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src={% static 'images/goods/5.jpg' %}></a>
					<h4><a href="#">转运珠手链</a></h4>
					<div class="operate">
						<span class="prize">￥5.50</span>
						<span class="unit">原价：50</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src={% static 'images/goods/6.jpg' %}></a>
					<h4><a href="#">仙女宅女裤</a></h4>
					<div class="operate">
						<span class="prize">￥10.00</span>
						<span class="unit">原价：50</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src={% static 'images/goods/7.jpg' %}></a>
					<h4><a href="#">美国ENVIROFIT 圆形碳烤炉</a></h4>
					<div class="operate">
						<span class="prize">￥28.80</span>
						<span class="unit">原价：50</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src={% static 'images/goods/8.jpg' %}></a>
					<h4><a href="#">夏季刺绣韩版宽松显瘦原宿短袖打底衫上衣学生百搭套头polo领</a></h4>
					<div class="operate">
						<span class="prize">￥6.45</span>
						<span class="unit">原价：50</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src={% static 'images/goods/9.jpg' %}></a>
					<h4><a href="#">METWO STUDIO碎花裙秋款新款</a></h4>
					<div class="operate">
						<span class="prize">￥9.50</span>
						<span class="unit">原价：50</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src={% static 'images/goods/10.jpg' %}></a>
					<h4><a href="#">荣事达充电便携式榨汁杯家用水果小型学生迷你电动榨汁机</a></h4>
					<div class="operate">
						<span class="prize">￥3.30</span>
						<span class="unit">原价：50</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src={% static 'images/goods/11.jpg' %}></a>
					<h4><a href="#">情侣大码莫代尔睡衣女秋冬纯棉长袖宽松闺蜜家居服宽…</a></h4>
					<div class="operate">
						<span class="prize">￥5.00</span>
						<span class="unit">原价：50</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src={% static 'images/goods/12.jpg' %}></a>
					<h4><a href="#">链子专拍链接</a></h4>
					<div class="operate">
						<span class="prize">￥28.80</span>
						<span class="unit">原价：50</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src={% static 'images/goods/13.jpg' %}></a>
					<h4><a href="#">小米90分前开盖拉杆箱20寸，全新未拆封</a></h4>
					<div class="operate">
						<span class="prize">原价：50</span>
						<span class="unit"></span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				<li>
					<a href="#"><img src={% static 'images/goods/14.jpg' %}></a>
					<h4><a href="#">天然水晶手串手链清仓甩（七条打包价）</a></h4>
					<div class="operate">
						<span class="prize">￥4.80</span>
						<span class="unit">原价：50</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				<li>
					<a href="#"><img src={% static 'images/goods/15.jpg' %}></a>
					<h4><a href="#">包邮！包邮！包邮！韩都衣舍背带裙</a></h4>
					<div class="operate">
						<span class="prize">￥3.50</span>
						<span class="unit">原价：50</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				<li>
					<a href="#"><img src={% static 'images/goods/16.jpg' %}></a>
					<h4><a href="#">HOTSTYLE迷你印花小背包女两用手…</a></h4>
					<div class="operate">
						<span class="prize">￥3.90</span>
						<span class="unit">原价：50</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				<li>
					<a href="#"><img src={% static 'images/goods/17.jpg' %}></a>
					<h4><a href="#">钩花系带披肩女2019夏季短款雪纺防晒衣开衫空调衫外搭小披肩</a></h4>
					<div class="operate">
						<span class="prize">￥16.80</span>
						<span class="unit">原价：50</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				<li>
					<a href="#"><img src={% static 'images/goods/18.jpg' %}></a>
					<h4><a href="#">2019春夏新款吊带V领多层蛋糕裙连衣裙女裙子仙女超仙森系打</a></h4>
					<div class="operate">
						<span class="prize">￥16.80</span>
						<span class="unit">原价：50</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
			</ul>

			<div class="pagenation">
				<a href="#"><上一页</a>
				<a href="#" class="active">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">下一页></a>
			</div>
		</div>
	</div>


	<!--右侧悬浮菜单-->
	<div class="guide">
		<div class="guide-wrap">
			<a href="#" class="edit" title="常见问题"><span>常见问题</span></a>
			<a href="#" class="find" title="购物车"><span>购物车</span></a>
			<a href="#" class="report" title="在线咨询"><span>在线咨询</span></a>
			<a href="javascript:window.scrollTo(0,0)" class="top" title="回顶部"><span>回顶部</span></a>
		</div>
	</div>

{% block js %}
    <script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
    <script type="text/javascript">
        BCSlideshow('focuspic');
        var oFruit = document.getElementById('fruit_more');
        var oShownum = document.getElementById('show_count');

        var hasorder = localStorage.getItem('order_finish');

        if(hasorder)
        {
            oShownum.innerHTML = '2';
        }

        oFruit.onclick = function(){
            window.location.href = 'list.html';
        }
    </script>

{% endblock %}

{% endblock %}





